#login.dropdown{
	margin-left: 14px;
}

div#login button{
	margin: 0 0 10px 0 !important;
}

.dropbtn {
	display: block;
	color: black;
	margin-bottom: 50px;
}

.dropdown {
  	font-size: 150%;
  	margin-top : 10px;
	margin-left: 30px;
}

.dropdown-content {
	display: none;
	position: absolute;
	top: 0;
	min-width: 180px;
	width: auto;
	box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
	margin-left: 120px;
}

.dropdown-content li a {
	color: black;
	padding: 12px 12px 12px 12px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover{
	background-color: #ddd;
}

.dropbtn:hover .dropdown-content{
	display: block;
}

.dropbtn:hover .dropdown-content:focus{
	display: block;
}

@media screen and (max-width: 450px) {
	.dropdown {
		font-size: 16px;
  	}

	.dropbtn {
		margin-bottom: 35px;
	}

	.dropdown-content {;
		margin-left: 80px;
	}
}