*{
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	grid-template-areas: 
		"header"
		"nav"
		"section"
		"footer";
}

section {
	grid-area: section;
}

header{
	grid-area: header;
	height: 80px;
	display: grid !important;
	grid-template-columns: 3fr 1fr 0.3fr;
	grid-template-areas: "logo search loginlogout";
	align-items: center;
	background: #000000;
	box-shadow: 0px 4px 4px 0px#404040;
}

div#logo{
	grid-area: logo;
	background-image: url('../images/logo.jpg');
	height: 50px;
	width: 300px;
	background-repeat: no-repeat;
	background-size: 300px;
}

div#logo:hover{
	background-image: url('../images/logo1.jpg');
}

.search{
	grid-area: search;
	background-color: lightgrey;
	border-radius: 5px;
	height: 40px !important;
	width: 290px;
	justify-self: right;
}

#search-Phone{
	height: 30px; 
	margin-top: 3px;
	width: 230px;
}

#login{
	grid-area: loginlogout;
}

#login button{
	margin: 14px 0 14px 14px;
	color: black;
	background-color: black; 
	border: 0; 
	width: 80px;
}

#login button i{
	color: white; 
	font-size: 37px;
}

.loginform{
	background-color: white;
	width: 360px;
}

.loginform div{
	padding: 5px 40px;
}

.loginform div input.submit{
	width: 80px; 
	background-color: lightgrey;
	border-width: 0.5px;
	border-radius: 3px;
}

.loginform div a{
	margin-left: 120px;
}

#logout{
	width: 200px;
	height: 85px;
	display: grid;
	padding: 7px;
	justify-content: center;
	text-align: center;
}

#logout div button{
	background-color: lightgrey;
	margin: auto;

	width: 80px;
	border-radius: 5px;
}

.navbar{
	grid-area: nav;

	background: #FFFFFF;
	border-radius: 0px;
	box-shadow: 0px 2px 4px 0px #404040;
}

.navbar a{
	width: 18.9%;
	float: left;
	color: #000000;
	text-align: center;
	padding: 5px 5px;
	text-decoration: none !important;
	font-size: 15px;
}

.navbar a:hover {
  background-color: #E6E6E6;
  color: black;
}

.navbar a.active {
  background-color: #D9D9D9;
  color: black;
}

footer{
	margin-top: 30px;
	height: 100px;

	background: black;
	grid-area: footer;
	display: grid !important;
	grid-template-columns: 5fr 1fr;
	grid-template-areas: "logo contactus";
}

footer div{
	height: 80px;
}

div#logofooter{
	grid-area: logo;
	background-image: url('../images/logo.jpg');
	height: 60%;
	background-repeat: no-repeat;
	margin: 20px 10px;
	background-size: 300px;
}

div#contactus{
	grid-area: contactus;
}

footer img{
	height: 50%;
}

footer p{
	color: white;
	margin: 15px 0 5px;
}

.twitter{
	margin-left: 15px;
	height: 40px;
}

.ig{
	height: 30px;
}

.youtube{
	height: 24px;
	margin-left: 10px;
}

#dropdown-phones {
	display: grid;
	height: 300px;
	overflow: auto;
	position: absolute;
	z-index: -999;
	grid-template-columns: 285px;
	grid-template-rows: repeat(auto-fit, 1fr);
	row-gap: 3px;
	background-color: #fff;
	border-radius: 5px;
}

#dropdown-phones a{
	color: black;
	text-decoration: none;
}

#dropdown-phones .dropPhone-items:hover {
	background-color: rgba(150, 150, 150, 0.4);
}

/*tablets*/
@media screen and (max-width: 800px) {
    header{
			height: 160px;
			grid-template-columns: 2.2fr 1fr;
			grid-template-areas: 
			"logo logo"
			"search loginlogout";
		}

		div#logo{
			height: 50px;
			width: 300px;
			background-repeat: no-repeat;
			background-image: url('../images/logo.jpg') !important;
			margin-top: 20px;
			justify-self: center;
			background-size: 300px;
		}

		.search{
			justify-self: right;
			width: 290px;
		}

		#search-Phone{
			height: 30px;
			margin-top: 4px;
			width: 230px;
		}

		#login{
			grid-area: loginlogout;
		}

		#login button{
			margin: 14px 0 14px 14px;
			color: black;
			background-color: black; 
			border: 0; 
			width: 50px;

		}

		#login button i{
			color: white; 
			font-size: 37px;
		}

		 .loginform{
			background-color: white;
			width: 360px;
		}

		 .loginform div{
			padding: 5px 40px;
		}

		 .loginform div input .submit{
			width: 50px; 
			background-color: white;
			border-width: 2px;
		}

		#logout{
			width: 200px;
			height: 85px;
			display: grid;
			padding: 7px;
			justify-content: center;
		}

		#logout div button{
			background-color: lightgrey;
			margin: auto;
			top: 55px;
			left: 11px;

			width: 80px;
			border-radius: 5px;
		}

    footer{
			height: 200px;
			grid-template-columns: unset;
			grid-template-areas: 
			"logo" 
			"contactus";
			justify-content: center;
		}

		#contactus{
			justify-self: center;
		}

		div#logofooter{
			height: 55px;
			width: 350px;
			margin: 20px 0 0 0;
			background-size: 350px;
		}
}

/*phones*/
@media screen and (max-width: 450px) {

}