section p{
	font-size: 24px;
	line-height: 40px;
	text-align: center;
	margin-top: 30px;
}

section div.container
{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: auto;
	grid-gap: 80px;
}

section div.container div{
	width: 177px;
	height: 340px;
	background-color: white;
	box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	margin: 20px auto 20px;
}

.container div img{
	width: 120px;
	height: 120px;
	margin: 20px 30px;
}

.container div button{
	font-size: 15px;
	border: 2px;
	border-style: solid;
	border-radius: 25px;
	padding: 5px 15px 5px 15px;
	background-color: white;
	width: 130px;
	margin-left: 25px;
	font-weight: bold;
}

.container div button:hover
{
	border-color: #000000;
	color: #FFFFFF;
	background-color: #000000;
}

@media screen and (max-width: 800px) {
	section div.container
	{
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
	}
}

@media screen and (max-width: 450px) {
	section p{
		font-size: 14px;
		font-weight: bold;
	}
	
	section div.container
	{
		grid-template-columns: repeat(2, 1fr);
	}

	section div.container div{
		width: 142px;
		height: 272px;
	}

	.container div img{
		width: 90px;
		height: 90px;
		margin: 15px 25px;
	}
	
	.container div button{
		font-size: 12px;
		border: 2px;
		border-style: solid;
		border-radius: 25px;
		width: 100px;
		margin: 100px 0 10px 23px !important;
		font-weight: bold;
	}
}
