section{
	display: grid !important;
}

section div.brands
{
	margin-top: 10px;
	margin-left: 20px;
}

section div.brands div.brand
{
	display: grid;
	grid-template-columns: auto 1fr;
	padding-top:10px;
	padding-bottom: 10px;
	border-bottom-color: black;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

section div.brands div.brand img
{
	height: 100px;
	width: 100px;
	margin-right: 50px;
}

section div.brands div.brand button
{
	border: 2px;
	border-style: solid;
	border-radius: 25px;
	padding: 5px 15px 5px 15px;
	background-color: white;
	width: 150px;
	margin: 8px;
}

section div.brands div.brand div{
	align-self: center;
}
}

section div.brands div.brand button#official:hover
{
	border-color: darkred;
	color: darkred;
}

section div.brands div.brand button#tokopedia:hover
{
	border-color: green;
	color:green;
}

section div.brands div.brand button#Shopee:hover
{
	border-color: #FF4500;
	color: #FF4500;
}

section div.brands div.brand button#Blibli:hover
{
	border-color: #0094D9;
	color: #0094D9;
}

@media screen and (max-width: 800px) {
	section div.brands
	{
		margin-top: 10px;
	}

	section div.brands div.brand img
	{
		margin-right: 20px;
	}

	section div.brands div.brand
	{
		display: grid;
		grid-template-columns: 1fr 3fr;
	}
}